# Trabalho Final

**Aluno**: Heitor Vinicius de Paula Salatiel

**Matrícula**: 1185913


## 04 - Tratamento da base *habilidades.csv*

A base de hailidades é uma base relativamente grande quando comparada com as outras, possuindo mais de 2000 registros. Os mesmo estão distribuidos em 3 colunas:
    1. Endorsement_count: é a classificação a respeito de determinada habilidade reconhecida por pessoas que     trabalharam/conviveram com determinado indivíduo.
    2. Name: Nome da habilidade
    3. Perfil_ID: ID de identificação de cada perfil

In [58]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

habilidades = pd.read_csv("bases/habilidades.csv")

# Análise inicial
print("Nº de registros:", len(habilidades))
print("Nº de valores únicos de perfil_id:", habilidades.perfil_id.nunique())
print("Nº de valores únicos de name:", habilidades.name.nunique())
print("Valores faltantes em name:", habilidades.name.isnull().sum())
print("Valores faltantes em endorsement_count:", habilidades.endorsement_count.isnull().sum())

habilidades.describe(include="all")

Nº de registros: 2594
Nº de valores únicos de perfil_id: 100
Nº de valores únicos de name: 764
Valores faltantes em name: 417
Valores faltantes em endorsement_count: 618

       endorsement_count              name    perfil_id
count               1976              2177  2594.000000
unique                69               764          NaN
top                    2  Microsoft Office          NaN
freq                 297                35          NaN
mean                 NaN               NaN    55.196993
std                  NaN               NaN    31.803147
min                  NaN               NaN     0.000000
25%                  NaN               NaN    31.000000
50%                  NaN               NaN    56.000000
75%                  NaN               NaN    82.000000
max                  NaN               NaN   109.000000

Apesar da grande quantidade de registros, os registros sem **name** podem ser desconsiderados pois não descrevem habilidade alguma.

In [59]:
habilidades = habilidades.loc[habilidades.name.notnull()]
print("Nº de registros restantes (com nome):", len(habilidades))

Nº de registros restantes (com nome): 2177

## 04.2 - Contagem de Endossos e Habilidades

Afim de consolidar essa base em algum tipo de informação sintética por perfil, calcule a quantidade de habilidades (**qtd_habilidades**) e a quantidade total de endossos de cada perfil (**qtd_endossos**).

In [60]:
habilidades.endorsement_count = habilidades.apply(lambda row: str(row.endorsement_count).replace("+ de 99", "99"), axis=1)
habilidades.head()

   endorsement_count                      name  perfil_id
0                 99         Empresas startups          0
3                 99          Empreendedorismo          0
6                 97                 Start-ups          0
9                 73          Entrepreneurship          0
10                75  New Business Development          0

In [61]:
def ConvertToNumber(val):
    if(val == 'nan'):
        return 0
    else:
        return int(val)
habilidades.endorsement_count = habilidades.endorsement_count.apply(ConvertToNumber)
habilidades.head()

    endorsement_count                      name  perfil_id
0                  99         Empresas startups          0
3                  99          Empreendedorismo          0
6                  97                 Start-ups          0
9                  73          Entrepreneurship          0
10                 75  New Business Development          0

## 04.3 - Agrupando habilidades

Afim de entender melhor o perfil do funcionários no que tange diversidade, agrupe as habilidades em categorias. Por exemplo, c++, python em liguagens de programação, ferramentas do office informática, análise SWOT, PDCA, SCRUM gestão de projetos. Essa informação pode ser utilizada para averiguar a proximidades entre os perfis contratados em cada setor da empresa ou tipo cargo.

In [62]:
habilidades.name.replace("C", "Linguagem C", inplace=True)
habilidades.name.replace("R", "Linguagem R", inplace=True)

skills = {
    'Marketing':['Marketing','Marketing no Facebook','Comunicação','Communicação estratégica','Comunicação empresarial',\
                 'Media','Mídia','TV','Facebook'],
    'Empreendedorismo e Inovação':['startups','Start-ups', 'Startups','Empreendedorismo','Entrepreneurship','Innovation',\
                                   'Entrepreneur','Inovação','DAS','Start-up','Business Innovation'],
    'Front End':['JavaScript','Node.js','TypeScript','Angular','HTML','React.js','Redux','SASS','CSS','WordPress',\
                 'CSS3','Axure','Bootstrap','JQuery','Framework','RequireJS','Gulp.js','GruntJS','jQuery', 'Node','Front'\
                'Frameworks','front','HTML5','AJAX','ActionScript'],
    'Back End':['C#','Java','.NET','ASP.NET','PHP','Laravel','Python','OOP','UML','JavaSE',],
    'Linguagens de Programação e AEDS':['C++','Linguagem C','Linguagem R','Delphi','Algorithms','MapReduce','Ruby',\
                                        'Programming','Programação','Open','Perl','Algoritmo','Aberto','Pascal','Dojo','Go',\
                                        'LESS','Prolog'],
    'Mobile':['Mobile','Android','mobile','iOS'],
    'Ferramenta de Versionamento de Software':['Git'],
    'Banco de Dados e Web Services':['MySQL','MongoDB','phpMyAdmin','Docker','PostgreSQL','NoSQL','Oracle',\
                                     'Databases','Database','SQL','SQLite'],
    'Web Services':['REST','SOAP','Web Services','WebSockets', 'JSON','XML','Socket.io',],
    'Metodologias Gerenciemento de Software':['Scrum','Kanban'],
    'UX':['User','Usability','Usuário','usuário','Usabilidade','Escalabilidade'],
    'Testing':['Test','Testing','testes','Bug', 'TestLink','bugs','Teste'],
    'Retórica':['Speaking','Oratória','texto','Escrita','Redação'],
    'Engeharia':['Engenharia','Engineering','Engineering','aéreas','Metallurgy'],
    'Idioma': ['English','Inglês','Portuguese','Spanish','Abroad','Portugês','Portuguesa','Português'],
    'Direito' : ['Laws'],
    'Soft Skills': ['Fast','Proactivity','interpessoal','Capacidade','proativo','bom','Thinking','thinking','Visão',\
        'Proatividade', 'Persistência', 'Sociabilidade', 'Sensibilidade','Governance','Skills','Liderança','Bom'],
    'Escolar e Acadêmico':['Educacional','educacionais','Sports'],
    'Historia': ['History','Turism','Ethnography'],
    'Outros':['Barman'],
    'Financeiro':['Finance','Contabilidade','financeira'],
    'Computação em Nuvem':['AWS','Azure'],
    'Gestão':['Planejamento','Gestão','empresarial','projetos','Planning','Management','Leadership','Estratégia',\
              'Resolução','Soluções','Melhoria','Seis','Lean','lean','Brand','Strategy','Gerenciamento','PDCA', 'SAP',\
              'Product','Teamwork','CEP','Metrologia','equipes','Organização','Project','Methodologies','PMI','Gerenciamento',\
              'Improvement','empresariais','Strategic','Análises','Auditoria','Problem','Assessment','Psychometrics',\
              'Recruitments', 'Human Resources','CRM','Strategies','Palestras','Supply','5S','ERP','serviços','humanos',\
              'Treinamento','marca','Branding','Organizações','Metodologias','Recruiting','Strategy','Administração',\
              'Integração','PMO','Integration'],
    'Comercial':['vendas','Salesforce.com','Vendas','cliente','sales','atendimento','Customer','Sales','Selling','venda'\
                 ,'customer'],
    'Consultoria':['Consultoria','Coaching','Consulting'],
    'Negócio': ['Business','Comércio','Advertising','Marketing','Growth','Affiliate','Market','négocios','Publicidade',\
                'Pesquisa','Research','Cliente','Midia','bancários','Mercado','Negociação','Afiliadas',\
                'E-commerce','Financial','Commerce','Fusões','M&A','Stock','Capital','Mergers','Mídias','Afiliação',\
                'Investing','Investimentos','riscos','Seguros','Relações','Affiliation','Negotiation','Cartões','cards',\
                'mercado','Competitive','Finanças','SEM','Advertising','PPC','Persona','Personas','negócios','Channels',\
                'Telecommunications','Análise da competitividade','capitais','Mercados','Economia',\
                'B2B','mercado','Precificação','Valuation','Call','Vendor','Insurance'],
    'Design' :['Design','Interior','vocal','Edição','Sketching','Ilustração','Desenho','Layout','Illustrator',\
               'Art','Creative'],
    'Multimídia':['Video','Fotografia','Multimída','Film','Films','Compositing','Music','Multimídia'],
    'Softwares' :['Google AdWords','Google','Adobe','Google Analytics','Karma','Subversion','AMP','Apache','PhoneGap',\
                  'Mustache','Handlebars','Microsoft','AutoCad','PowerPoint','Scilab','WebTrends','Unix','SolidWorks',\
                  'Windows','Qt','Webkit','Mozilla','Maemo','GTK','WebRTC','Electron','Photoshop','Scripting','DOS','Heroku',\
                  'Bash','Amazon','Chrome','Eclipse','Compilers','CVS','Flask','Unix Shell Scripting','Shell script',\
                  'Sistemas distribuídos','Nginx', 'Django', 'TDD','Jenkins','Excel','Compatilidade','Ceph','Redis',\
                  'Lua','Varnish','OpenSocial','Wireframes','Sitemap','Copywriting','Tableau','Indesign','InDesign',\
                  'E-learning', 'Moodle','Sabre','Amadeus','Navitaire','Swift','Selenium','JMeter','Fitnesse','eFitnesse',\
                  'Cucumber','J2ME', 'Coded UI', 'Robotium','Monkeyrunner', 'Sikuli','Tétriz','Visual','EJB',\
                  'JSF', 'JDBC','JPA','J2ME','LaTeX','Jade','SML','FreeBSD','VMware','Pentaho','MS','Zabbix',\
                  'Nagios','Hyperic','Runrun.it','Rancher','Silex','PHPUnit','Jasmine','Doctrine','Solve360','Kubernetes',\
                  'Foundation','JMUnit'],
    'SO':['Ubuntu','Debian','Linux'],
    'Data Science':['Data','dados'],
    'Arquitetura de Software':['Scalability','Implementação','Prototyping','DevOps','Accessibility','Responsiveness'],
    'Analista' : ['SEO','Online Lead','Sistemas','Systems','System','Web','Software','Promoter','Computer',\
                  'Information','Computing','Network','Development','COBIT','Information','Multithreading',\
                  'computação','sistemas','requisitos','informações','IT','Hardware','informação',\
                  'Conversion','Page','Desenvolvimento','sistemas','TI','ITIL','development','Heuristic','Context'\
                  'ETL','técnico','Tecnologias','BDD','Machine','DHTML','ITS','BMC','Outsourcing','Infomation Retrieval',\
                  'de rede','software','Dashboard','VBA','Performance','Prototype'],
    'Automação':['CLP','Automação','Automotion',]
}

def GetSkillAreaByName(skill):
    for key,values in skills.items():
        for hab in values:
            if(skill.find(hab) > -1):
                return key

In [63]:
habilidades['area'] = habilidades.name.apply(GetSkillAreaByName)
habilidades.head()

,endorsement_count,name,perfil_id,area
0,99,Empresas startups,0,Empreendedorismo e Inovação
3,99,Empreendedorismo,0,Empreendedorismo e Inovação
6,97,Start-ups,0,Empreendedorismo e Inovação
9,73,Entrepreneurship,0,Empreendedorismo e Inovação
10,75,New Business Development,0,Negócio

In [64]:
skill_group = habilidades.groupby('perfil_id').agg({
    'endorsement_count':'sum',
    'name':'count',
    'area':'count'
}).reset_index();
skill_group.columns=['perfil_id','qtd_endossos','qtd_habilidades','qtd_area']
skill_group.head()

   perfil_id  qtd_endossos  qtd_habilidades  qtd_area
0          0          1598               33        33
1          1           314               28        28
2          2           117               47        47
3          3            14                9         8
4          4           103               11        11

## 04.4 - Salvando bases

A base tratada será gravada no arquivo **habilidades-tratado.csv**.

Uma nova base consolidada com um registro por perfil será gravada no arquivo **perfil-habilidades.csv**, contendo as colunas: **perfil_id**, **qtd_habilidades** e **qtd_endossos**.

In [65]:
habilidades.to_csv('bases/habilidades-tratado.csv')

skill_group.to_csv('bases/perfil-habilidades.csv')

### Navegação:
* [Voltar para a análise](00-analise-dos-dados.ipynb)
* [Continuar para o próximo documento](05-tratamento-base-experiencia.ipynb)